option_settings:
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    ConfigDocument:
      CloudWatchMetrics:
        Environment: {}
        Instance: {}
      Version: 1
      Rules:
        Environment:
          Application:
            ApplicationRequests4xx:
              Enabled: false